BACKEND_URL=
DATABASE_URL=
DB_HOST=dpg-
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_REFRESH_SECRET=
JWT_SECRET=
NODE_ENV=
PGSSLMODE=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
WFP_MERCHANT_ACCOUNT=
WFP_MERCHANT_DOMAIN=
WFP_MERCHANT_SECRET_KEY=
WFP_RESULT_URL=
WFP_SERVER_URL=